---
import { t } from "i18next";
import EmailIcon from "./icons/EmailIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import PhoneIcon from "./icons/PhoneIcon.astro";
import TelegramIcon from "./icons/TelegramIcon.astro";
import WhatsappIcon from "./icons/WhatsappIcon.astro";
import PlaceOfWork from "./PlaceOfWork.astro";
import Section from "./Section.astro";
import Link from "./simple/Link.astro";
---

<h1 class="text-center text-3xl font-semibold mb-4">
    {t("Resume.title")}
</h1>

<ul
    class="flex justify-around gap-3 flex-col sm:flex-row print:flex-row list-none border-y border-neutral-300 p-2 mb-4"
>
    <li class="flex-1">
        <Link
            href="mailto:ilya.ruwork@gmail.com"
            className="flex sm:justify-center print:justify-center items-center gap-2"
        >
            <EmailIcon />
            ilya.ruwork@gmail.com
        </Link>
    </li>
    <li class="flex-1">
        <Link
            href="https://www.linkedin.com/in/gibito"
            className="flex sm:justify-center print:justify-center items-center gap-2"
        >
            <LinkedInIcon />
            linkedin.com/in/gibito
        </Link>
    </li>
    <li class="flex-1 flex gap-2 items-center sm:justify-center">
        <Link
            href="https://t.me/Nikishin_Ilya"
            className="hidden sm:inline-flex print:inline-flex sm:justify-center print:justify-center items-center gap-2"
        >
            <TelegramIcon />
        </Link>
        <Link
            href="https://wa.me/905058195648"
            className="hidden sm:inline-flex print:inline-flex sm:justify-center print:justify-center items-center gap-2 ml-0.5"
        >
            <WhatsappIcon />
        </Link>
        <Link
            href="tel:+905058195648"
            className="inline-flex sm:justify-center print:justify-center items-center gap-2"
        >
            <PhoneIcon />
            +90 505 819 56 48
        </Link>
    </li>
</ul>

<section class="mb-3">
    <h2 id="role-field" class="text-2xl font-semibold mb-3">
        {t("Resume.Role.current")}
    </h2>
</section>

<Section name={t("Resume.WorkExperience.title")}>
    <PlaceOfWork
        name={t("Resume.WorkExperience.Sber.title")}
        duration={t("Resume.WorkExperience.Sber.duration")}
        role={t("Resume.WorkExperience.Sber.role")}
        description={t("Resume.WorkExperience.Sber.description")}
    />
    <hr class="my-4" />
    <PlaceOfWork
        name={t("Resume.WorkExperience.NTC.title")}
        duration={t("Resume.WorkExperience.NTC.duration")}
        role={t("Resume.WorkExperience.NTC.role")}
        description={t("Resume.WorkExperience.NTC.description")}
    />
    <hr class="my-4" />
    <PlaceOfWork
        name={t("Resume.WorkExperience.RGA.title")}
        duration={t("Resume.WorkExperience.RGA.duration")}
        role={t("Resume.WorkExperience.RGA.role")}
        description={t("Resume.WorkExperience.RGA.description")}
    />
</Section>

<Section name={t("Resume.Skills.title")}>
    <div class="flex gap-2 flex-wrap">
        {
            [
                "React",
                "Next.js",
                "Typescript",
                "Sass",
                "Less",
                "Redux Toolkit",
                "Mobx",
                "Zustand",
                "Webpack",
                "React Query",
                "React Hook Form",
                "Tailwind",
                "Vite",
                "tRPC",
                "Node.js",
                "Docker",
                t("Resume.Skills.english"),
            ].map((i) => <div class="px-2 py-1 border border-gray-300 rounded-md">{i}</div>)
        }
    </div>
</Section>

<Section name={t("Resume.About.title")}>
    <p class="whitespace-pre-line">{t("Resume.About.content")}</p>
</Section>
