---
export interface Props {
    name: string;
}

const { name } = Astro.props;
---

<section class="mb-3">
    <h2 class="text-2xl font-semibold mb-1">{name}</h2>
    <div class="ml-4">
        <slot />
    </div>
</section>
