---
export interface Props {
    name: string;
}

const { name } = Astro.props;
---

<section class="mb-5">
    <h2 class="text-2xl font-semibold mb-3">{name}</h2>
    <div class="ml-2">
        <slot />
    </div>
</section>
